<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
 
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  
  <log4net>
    <!-- Appender for writing to a file-->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="application-log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date|[%thread]|%-5level|%logger|[%property{NDC}]|%message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date|%message%newline" />
      </layout>
    </appender>

    <!-- Root Logger ensuring all errors get logged -->
    <root>
      <level value="ERROR" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
</configuration>
